{% extends 'base.html' %}

{% block content %}

<div class="row pt-4">
    <div class="col"></div>
    <div class="col-10 stuff">
        <form class="py-3" method="post">
            {{ formset.management_form }}
            {% for form in formset %}
            <p><b>Equation {{forloop.counter}}</b></p>
            <div class="form-row mb-3">
                {% csrf_token %}
                {% for field in form %}
                <div class="col">
                    {{field.label_tag}}
                    {{field}}
                    {{field.errors}}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="d-flex justify-content-center mb-3">
                <button type="submit" class="btn btn-info">Find solutions</button>
            </div>
        </form>

    </div>
    <div class="col"></div>
</div>

{% endblock %}